@import '~antd/dist/antd.css';

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sider-content {
    padding-top: 64px;
    overflow: auto;
    height: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
}

.header-content {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header-menu-content {
    justify-content: flex-end;
}

.site-layout {
    padding: 0 50px;
    margin: 64px 0 0 80px;
    background: #fff;

    .site-layout-background {
        padding: 24px;
        min-height: 380px;
    }
}

.loading-content {
    position: fixed;
    top: 45%;
    left: 45%;
}

.login-form {
    margin: 0 auto;
    padding-top: 80px;
    max-width: 300px;
}

.login-form-button {
    width: 100%;
}

.task-form {
    margin: 0 auto;
    padding: 32px 0;
    justify-content: flex-end;

    .task-form-input {
        width: 400px;
    }
    .task-form-submit {
        margin-left: 40px;
    }
}

.inner {
    max-width: 800px;
    margin: 0 auto;
}
